
<%= form_with(scope: @user, url: new_userinfo_path, html: { class: "form-1" }) do |form| %>
  <%= form.hidden_field( :id, :value => params[:id])%>
  <div class="p-4">
    <span class="text-white text-4xl font-bold">Account Details</span>
  </div>

  <div class="flex flex-col p-6">
    <div class="mb-4">
      <%=form.label "First Name", class: "form-label"%>
      <%=form.text_field :fname, class: "form-inputbox"%>
    </div>

    <div class="mb-4">
      <%=form.label "Middle Name", class: "form-label"%>
      <%=form.text_field :mname, class: "form-inputbox"%>
    </div>  
    
    <div class="mb-4">
      <%=form.label "Last Name", class: "form-label"%>
      <%=form.text_field :lname, class: "form-inputbox"%>
    </div>

    <div class="mb-4">
      <%=form.label "Contacts", class: "form-label"%>
      <%=form.text_field :contacts, class: "form-inputbox"%>
    </div>

    <div class="mb-8">
      <%=form.label "Address", class: "form-label"%>
      <%=form.text_field :address, class: "form-inputbox"%>
    </div>  

    <div class="flex items-center justify-between self-center mb-4">
      <%= form.submit "Register", class: "btn-primary" %>
    </div>
  </div>

  <div class="flex flex-col p-4 bg-[#2d3b5a] rounded-b-md">
    <%= link_to "Back", signin_page_path, 
      class: "text-[#03e9f4] text-sm self-center hover:text-[#05bdc7] 
        transition-all ease-in duration-300" 
    %>
  </div>
<%end%>
