<%=turbo_stream.update "signup", html: { class: "w-full max-w-sm mx-auto" } do %>
  <%= form_with(model: @userinfo) do |form| %>

    <div class="mb-4">
      <%=form.label "First Name", class: "form-label"%>
      <%=form.text_field :fname, class: "form-inputbox"%>
    </div>

    <div class="mb-4">
      <%=form.label "Middle Nane", class: "form-label"%>
      <%=form.text_field :mname, class: "form-inputbox"%>
    </div>  
    
    <div class="mb-4">
      <%=form.label "Last Name", class: "form-label"%>
      <%=form.text_field :lname, class: "form-inputbox"%>
    </div>

    <div class="mb-6">
      <%=form.label "Email", class: "form-label"%>
      <%=form.text_field :email, class: "form-inputbox"%>
    </div>  

    <div class="flex items-center justify-between">
      <%= form.submit "Signup", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <%end%>
<%end%>