<%=form_with(model: @authentication, html: { class: "w-full max-w-sm mx-auto" }) do |form|%>
  <div class="mb-4">
    <%=form.label "Username", class: "form-label"%>
    <%=form.text_field :username, class: "form-inputbox"%>
  </div>
  
  <div class="mb-4">
    <%=form.label "Password", class: "form-label"%>
    <%=form.password_field :password, class: "form-inputbox"%>
  </div>
 
  <div class="flex items-center justify-between">
    <%= button_to "Next", new_session_path,class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<%end%>