<%= turbo_stream.prepend "sidepanel" do %>
  <span class="text-xl font-bold mb-4">Sidepanel</span>
  <div class="flex gap-2 items-center">
    <span class="w-[20px] text-center"><i class="fa-solid fa-house-chimney"></i></i></span>
    <%= button_to "Home", admin_path %>
  </div>

  <div class="flex flex-col">
    <input type="checkbox" id="useractions" class="peer/useractions hidden">
    <label for="useractions" class="peer/useractions flex gap-2 select-none cursor-pointer">
      <span><i class="fa-solid fa-user-group"></i></span>
      Users
      <span class="ml-auto"><i class="fa-solid fa-chevron-down"></i></span>
    </label>

    <div class="pl-8 hidden peer-checked/useractions:block">

      <div class="flex gap-2">
        <%= button_to "List of Users", admin_userpage_path, data: { turbo: true } %>
      </div>

      <div class="flex gap-2">
        <%= button_to "Create New User", new_user_path, data: { turbo: true } %>
      </div>

      <div class="flex gap-2">
        <%= button_to "Active Users", admin_user_active_path, data: { turbo: true } %>
      </div>

      <div class="flex gap-2">
        <%= button_to "Waiting Users",  admin_user_waiting_path, data: { turbo: true } %>
      </div>
    </div>
  </div>

  <div class="flex gap-2 items-center">
    <span class="w-[20px]"><i class="fa-solid fa-envelope"></i></i></span>
    <span>Messages</span>
  </div>

  <div class="flex gap-2 items-center">
    <i class="fa-solid fa-door-open"></i>
    <%= button_to "Logout", signout_path, data: { turbo: true }, class: "text-white h-[40px] w-[40px] bg-[#0b0f16]" %>
  </div>

  <!-- temporary hidden -->
  <div class="mt-auto hidden">
    <input type="checkbox" id="sidepanel-2" class="peer/sidepanel-2">
    <label for="sidepanel-2" class="peer/sidepanel-2 select-none cursor-pointer
    text-white ">
      Minimize Menu
    </label>
    <span class="peer-checked/sidepanel-2:hidden block">to be hidden</span>
  </div>
<% end %>