<div class="user-list">
  <span class="text-white">
    <%= index + 1 %>
  </span>
  
  <span class="flex text-white">
    <div class="h-[25px] w-[25px] flex justify-center items-center rounded-full border-white border-[1px]">
      <i class="fa-solid fa-user "></i>
    </div>
    <div class="ml-2">
      <%= user.lname %>, <%= user.fname %> <%= user.mname %>
    </div>
  </span>
  
  <span class="text-white">
    <%= user.email %>
  </span>
  
  <span class="text-white">
    <%= user.status %>
  </span>

  <span class="text-white border-r-[1px] border-[#f890e7]">
    <%= user.created_at %>
  </span>

  <div class="flex gap-4 ml-2 border-r-[1px] border-[#f890e7]">
    <%= link_to "view", "", class: "text-white" %>

    <%= button_to "edit", edit_user_path(email: user.email), 
    class: "text-white" %>

    <%= button_to "activate", activate_user_path(email: user.email), class: "text-white" %>
  </div>
</div>