<%= render "navbar" %>

<div class="flex flex-col items-center pt-8">
  <div class="flex flex-col mb-8">
    <div id="buysell">
      <%= render "home/user/form_buysell" %>
    </div>

    <div id="candlestick" class="bg-[#0b0f16] rounded-xl p-2">
      <%= render "home/components/candlestick_chart" %>
    </div>
  </div>
  
  <div class="flex flex-col gap-[2px]">

    <div>
    
    </div>

    <div class="mb-12">
      <div class="mb-2">
        <div class="flex text-gray-500">
          <div class="flex flex-1 gap-2 min-w-[300px]">
            <span class="w-[60px]"></span>
            <span class="">Name</span>
          </div>
          <span class="flex-1 text-center min-w-[100px] self-center">Currency</span>
          <span class="flex-1 text-center min-w-[100px] self-center">Change</span>
          <span class="flex-1 text-center min-w-[100px] self-center">Price</span>
          <span class="flex-1 text-right min-w-[150px] self-center">Avg. Vol</span>
          <span class="flex-1 text-right min-w-[200px] self-center mr-5">Market Cap</span>
        </div>

        <% @paginated_items.each do |item| %>
          <%= render "home/components/paginated_frame", 
            item: item, 
            url: check_url(item['symbol']), 
            quote: check_quote(item['symbol'])
          %>
        <% end %>
      </div>
      <%= paginate @paginated_items %>
    </div>
  </div>
</div>

