
<div style="color: #ccc">
<div class="flex flex-col gap-4 min-w-[500px] px-2 m-8 text-lg">
  <div class="flex flex-col items-left bg-[#0b0f16] p-4 rounded-lg text-gray-500">
    <div class= "py-2">
      <%=@user_details["lname"].titleize()%>,
      <%=@user_details["fname"].titleize()%>
      <%=@user_details["mname"].titleize()%>
    </div>
    <div class="flex justify-between">
      <div class="py-2">
        Balance :  <%= number_to_currency(@user_details["balance"])%>
      </div>
      <div class="py-2">
        Account Level :  <%= @auth_lvl['user_level'] == 2 ? "Administrator" : "Standard User"%>
      </div>
      <div class="py-2">
        Last Login :  <%= @latest_login["login_time"]%>
      </div>
    </div>
  </div>
  <div class="flex text-white text-2xl">
    My Stocks
  </div>
   <div class="flex flex-col items-center">
    <div class="flex items-center text-gray-500">
      <div class="profile-table-header "></div>
      <div class="profile-table-header ">Code</div>
      <div class="profile-table-header ">Name</div>
      <div class="profile-table-header ">On Hand</div>
      <div class="profile-table-header ">Price</div>
      <div class="profile-table-header ">Percentage Change</div>
      <div class="profile-table-header "></div>
    </div>
    <% @portfolio.each do | data |%>
      <div class="flex items-center">
        <div class="profile-table-cell ">
          <img src=<%= data["logo"]%> >
        </div>
        <div class="profile-table-cell "><%=data["code"]%></div>
        <div class="profile-table-cell "><%=data["name"]%></div>
        <div class="profile-table-cell "><%=data["qty"]%></div>
        <div class="profile-table-cell "><%=data["latest_price"]%></div>
        <div class="profile-table-cell
          <%=data['change_percent'].to_f >= 0 ? 'text-green-500' : 'text-red-500'%>
        "><%=data["change_percent"]%></div>
        <div class="profile-table-cell">
          <a class=" text-yellow-500 hover:text-yellow-600 " href="/home/buy-sell?symbol=<%=data["code"]%>">Trade</a>
        </div>
      </div>
    <%end%>

  </div>
</div>
</div>
 
