<div id="navbar" class="flex py-4 px-8 gap-4 bg-[#0b0f16] items-center">
  
  <%= link_to raw('<span class="text-2xl font-bold font-slant miami font-outline-1 select-none">MiamiTrades</span>'), home_path %>  

  <div>
    <%= link_to raw('<span class="navtext">Stocks</span>'), home_buy_sell_path %>
  </div>

  <div>
    <%= link_to raw('<span class="navtext">Markets</span>'), home_market_path %>
  </div>

  <div>
    <%= link_to raw('<span class="navtext">Trade</span>'), home_trade_path %>
  </div>

  <div class="flex gap-4 ml-auto items-center">
    <div>
      <%= link_to raw('<span class="navtext">Profile</span>'), home_profile_path %>
    </div>

    <div>
      <span class="navtext">Wallet</span>
    </div>

    <div>
      <%= link_to raw('<span class="navtext">Orders</span>'), home_transaction_path %>
    </div>

    <span class="bg-white h-[20px] w-[1px]"></span>
    <%= button_to "Logout", signout_path, data: { turbo: true }, class: "text-[#f890e7] hover:text-[#03e9f4] transition duration-300 ease-in" %>
  </div>
</div>